# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.pyo

# Dataset files (not uploading to repo)
*.csv
*.xlsx
*.zip

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Environment
.env
venv/
*.egg-info/